#main-content {
	padding-bottom: 0;
}
#google-map {
	position: relative;
}
.form-control1 {
	position: absolute;
	top: 0;
	left: 75px;
	z-index: 100;
}
.bg-form {
	background: url('../img/contact-form.png') no-repeat;
	width: 300px;
}
.bg-form form {
	position: relative;
}
.bg-form h6 {
	margin-top: 60px;
	color: #fff;
	font-family: 'Lato-Black', Arial, sans-serif;
	font-size: 18px;
}
.form-control1 form input[type=text], .form-control1 form input[type=email], .form-control1 form textarea {
	display: block;
	margin-bottom: 8px;
	font-family: 'Lato-Italic', Arial, sans-serif;
	width: 245px;
}
.form-control1 form textarea {
	position: relative;
	margin-bottom: 0;
}
.form-control1 form input[type=submit] {
	position: absolute;
	bottom: -20px;
	right: 0px;
	background: #36af47;
	color: #fff;
	padding: 16px 10px;
	border-radius: 45%; 
	font-family: 'Lato-Black', Arial, sans-serif;
}
.form-control1 p {
	color: #fff;
	font-family: 'Lato-Light', Arial, sans-serif;
	padding-bottom: 40vw;
}